**Reading the List of employees**

In [10]:
import json

fd = open("/content/employees.json",'r')
r = fd.read()
fd.close()

staff = json.loads(r)

**Getting complete list of employees in store**

In [26]:
staff

{'10009': {'ename': 'worker10', 'sal': 1385},
 '11010': {'ename': 'cleaner-vinnu', 'sal': 2562},
 '12011': {'ename': 'suri', 'sal': 7384},
 '200': {'name': 'newone', 'sal': 984},
 '2001': {'ename': 'Abhilash-Me', 'sal': 10000},
 '3002': {'esname': 'My friend', 'sal': 9670},
 '4003': {'ename': 'friend of friend', 'sal': 9843},
 '5004': {'ename': 'friends', 'sal': 8294},
 '6005': {'ename': 'ramesh', 'sal': 9375},
 '7006': {'ename': 'suresh', 'sal': 3658},
 '8007': {'ename': 'worker2', 'sal': 1648},
 '9008': {'ename': 'worker1', 'sal': 374}}

**Total count of employees**

In [17]:
count = 0
for item in staff:
  count = count + 1

print('The total no of employees working are: '+ str(count))

The total no of employees working are: 12

**Adding new employees to the list**

In [15]:
fd = open("/content/employees.json",'r')
r = fd.read()
fd.close()
staff = json.loads(r)


e_id = str(input("Enter employee id:"))
if (e_id in staff.keys()):
  print("employee already exists!!")
else:
  print("Enter Remaining Details to add the employee")
  name = str(input("Enter name:"))
  sal = int(input("Enter salary:"))
  staff[e_id] = {'name': name, 'sal': sal}
  js = json.dumps(staff)
  fd = open("/content/employees.json",'w')
  fd.write(js)
  fd.close()

Enter employee id:200
Enter Remaining Details to add the employee
Enter name:newone
Enter salary:984

**Searching for employees**

In [20]:
e_id = str(input("Enter employee id to search:"))

if (e_id in staff.keys()):
  print("Yes, the employee is working in our store")
else:
  print("Sorry, there is no employee with the given ID")

Enter employee id to search:2973
Sorry, there is no employee with the given ID

**Sum of all the employees salaries**

In [21]:
sum = 0
for emp in staff:
  sum = sum + staff[emp]['sal']

print('The total salary for all the employees is '+ str(sum)+'$')

The total salary for all the employees is 65177$

**Deleting people from employees list**

In [27]:
# del staff['200']
# or
fd = open("/content/employees.json",'r')
r = fd.read()
fd.close()
staff = json.loads(r)

e_id = input("Enter employee ID to delete from DataBase: ")
if (e_id in staff.keys()):
  del staff[e_id]
  print("employee info deleted")
else:
  print("no employee exists with given ID")

Enter employee ID to delete from DataBase: 200
employee info deleted